@import url(./asset/font/SpaceGrotesk-Bold.ttf);

/*Mobile*/
body {
  font-family: "SpaceGrotesk-Bold";
}

.hero-container {
  background-image: url(./asset/image/BGM.png) ;
  height: 800px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 24px, 12px;
}

.logo a{
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: none;
}

.nav-cart {
  display: none;
}
/*Desktop*/


