@import url('./assets/font/Gilroy-Light.otf');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #e58411;
  --text-color: #bbb;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Gilroy', 'Poppins', sans-serif;
}

.hero-container {
  background-image: url('./assets/images/background.png');
  height: 800px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 24px 12px;
}

.logo a {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: none;
}

.nav-cart {
  display: none;
}

/* Hero section */

#hero {
  margin-top: 60px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.search-furniture {
  background-color: #ffffff40;
  width: 344px;
  height: 56px;
  border-radius: 56px;
  position: relative;
  align-self: center;
}

.search-furniture input {
  width: 344px;
  height: 56px;
  background-color: transparent;
  outline: none;
  border: none;
  padding: 8px 24px;
  border-radius: 56px;
  color: white;
}

.search-furniture input::placeholder {
  color: white;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  translate: 0 -50%;
}

#why-us {
  margin-top: 32px;
  padding: 24px 12px;
}

.advantages-title {
  text-align: center;
  margin-bottom: 32px;
}

.advantages-detail {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 40px;
}

.right {
  text-align: right;
}

.advantages-detail h2 {
  font-size: 1.5rem;
}

.advantages-detail p {
  font-size: 1rem;
}

.more-info {
  display: flex;
  gap: 16px;
}

.more-info-right {
  display: flex;
  justify-content: end;
  gap: 16px;
  color: var(--primary-color);
}

.more-info p {
  color: var(--primary-color);
}

/* product */

#product {
  padding: 24px 12px;
  display: flex;
  background-color: #f7f7f7;
  flex-direction: column;
}

#product header {
  margin-bottom: 32px;
}

#product header h1 {
  text-align: center;
}

.product-nav {
  display: flex;
  gap: 8px;
  background-color: #eee;
  align-self: center;
  padding: 12px;
  border-radius: 999px;
  margin-bottom: 140px;
}

.product-nav a {
  color: black;
  padding: 6px;
}

.product-nav .active {
  background-color: white;
  padding: 6px 18px;
  border-radius: 999px;
}

.product-list {
  display: flex;
  flex-direction: column;
  gap: 120px;
}

.product-img {
  height: 480px;
  background-color: #fafafa;
}

.product-item {
  position: relative;
  box-shadow: 5px 7px 9px 0px rgba(0, 0, 0, 0.45);
  border-radius: 32px;
  background-color: white;
}

.product-img img {
  position: absolute;
  top: -80px;
}

.product-description {
  margin: 24px 0;
  display: flex;
  gap: 8px;
  flex-direction: column;
  padding: 0px 24px 24px;
}

.product-checkout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 24px 24px;
}

.product-checkout button {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  font-size: 32px;
  background-color: #0d1b39;
  color: white;
  outline: none;
  border: none;
}

.flex-row {
  display: flex;
  gap: 12px;
  align-self: center;
  margin-top: 32px;
}

.flex-row p {
  color: var(--primary-color);
}

#footer {
  background-color: #fafafa;
  margin-top: 32px;
  padding: 24px 12px;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-desc h2 {
  margin-bottom: 16px;
}

.footer-items {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-items-title {
  color: var(--primary-color);
}

.social-media {
  display: flex;
  gap: 8px;
  align-items: center;
}

.social-media img {
  width: 16px;
  height: 16px;
}

.footer-end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

.footer-rules {
  display: flex;
  gap: 16px;
}

@media (min-width: 768px) {
  .hero-container {
    padding: 40px 120px;

    height: 1100px;
  }
  .nav-list {
    display: block;
  }

  .nav-list ul {
    display: flex;
    align-items: center;
    gap: 16px;
    list-style: none;
    color: white;
    text-decoration: none;
  }

  .burger-menu {
    display: none;
  }

  .nav-cart {
    display: block;
  }

  /* hero */
  #hero {
    margin-top: 96px;
    gap: 32px;
  }

  .hero-title {
    width: 860px;
    align-self: center;
  }

  .hero-title h1 {
    font-size: 3rem;
    text-align: center;
  }

  .hero-desc {
    color: var(--text-color);
    align-self: center;
    text-align: center;
  }

  /* why us */

  #why-us {
    display: flex;
    flex-direction: row;
    gap: 32px;
    padding: 24px 120px;
    align-items: center;
  }

  .more-info-right {
    justify-content: start;
  }

  .right {
    text-align: left;
  }

  .advantages-title {
    width: 600px;
    text-align: left;
  }

  .new-line {
    display: block;
  }

  .product-list {
    flex-direction: row;
    gap: 32px;
    align-self: center;
  }

  .product-img {
    height: 180px;
  }

  .product-img img {
    width: 220px;
    left: 50%;
    translate: -50% 0;
  }

  #footer {
    padding: 24px 120px;
  }

  .footer-content {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-end {
    margin-top: 80px;
  }
}
